<div class="rodape">
    <div class="rodape-menu">
        <div class="rodape-item">
            <img [src]="'src/assets/logofooter.svg'" onError="this.src = 'assets/logofooter.svg'" alt="Logo footer" class="rodape-img">
            <div class="rodape-tela">
                <h1>Filmes</h1>
                <h3>Collection</h3>
            </div>
        </div>

        <div class="rodape-texto">
            <p class="text">Company Inc., 8901 Marmora Road, Glasgow, D04 89GR</p>
            <p class="text">Call us now toll free: (800)2345-6789</p>
            <p class="text">Customer support: support@demolink.org</p>
            <p class="text">Skype: sample-username</p>
        </div>   
    </div>    
</div>